@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.header {
    max-width: 2560px !important;
}
.header-text {
    font-family: 'Architects Daughter', cursive;
}
.converter-head-logo {
   font-size: 40px !important;
   color: #FFAB00;
}
.converter { 
    max-width: 400px !important;  
    /* background-color: #ffaa00b0; */
}
.converter-text1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
   
}
.converter-text {
    font-family: 'Architects Daughter', cursive;
}
.conv-text {
    font-weight: lighter;
}
.footer {
    max-width: 2560px !important;
}
.footer-text {
    font-family: 'Architects Daughter', cursive;
}
@media only screen and (min-width: 768px) {
    .converter-head-logo {
      font-size: 50px !important;
      margin-top: 3px;
    }
  }
